@charset "utf-8";
/*基本設定*/
html {
  font-size: 62.5%; /*以下フォントサイズはrem指定するブラウザごとに変化する。例：1.2rem＝12pxとなる。*/
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 0;
}
img {
  width: 100%;
  max-width: 375px; /*今回は画像幅750pxが最大で書き出したので劣化を防ぐ*/
  height: auto;
}
a {
  display: block;
}
.sp_none { /*スマホでは表示させないものは全てこのクラスをつける*/
  display: none;
}
body {
  font-size: 1.6rem;
  line-height: 1.7;
  color: #212121;
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;  
}
video {
  width: 100%;
  max-width: 600px; /*今回は画像幅750pxが最大で書き出したので劣化を防ぐ*/
  height: auto;
}

#home{
background: url(../images/me.jpg)no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: center
}
#works_page, #works_web,#works_banner{
  background-image: url(../images/back.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center
  }
#wrap {
  width: 100%;
  min-width: 360px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
  box-sizing: border-box;
  border-left: 10px solid #1E3F6C;
  /* background: #fffafa; */
}
#wrap p{
  margin: 1.5em 0;
  font-size: 1.2rem;
}
#about, #works {
  margin-top: 6.4rem;
  padding-top: 6.4rem;
}
#works_page #works, #works_web main, #works_flier main, #works_logo main, #works_banner main {
  margin-top: 3.2rem;
}
.pagetop {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  border: solid 2px #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.pagetop__arrow {
  height: 10px;
  width: 10px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  transform: translateY(20%) rotate(-45deg);
}
@media (hover: hover) and (pointer: fine) {
  .pagetop:hover, .pagetop:hover .pagetop__arrow {
      border-color: #3293e7;
  }
}

@media screen and (min-width:600px) { /*タブレット｜600~1024*/
  .sp_none {
    display: block;
  }
  #wrap {
    border: none;
    border-top: 8px solid #1E3F6C;
  }
  #works {
    margin-top: 0;
  }
}

@media screen and (min-width:1024px) { /*PC｜1024~*/
  body {
    background: #fffafa;
    border-top: 8px solid #1E3F6C;
  }
  #wrap {
    border-top: none;
  }
  #works_web #wrap, #works_flier #wrap, #works_logo #wrap, #works_banner #wrap {
    max-width: 80%;
  }
}
/*見出し,fontの設定*/
h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.8rem;
}
h1 {
  margin-top: 26px;
  font-size: 1.5rem;
}
#home h1 {
  margin-top: 30vh;
  font-size: 2.8rem;
}
@media screen and (min-width:600px) { /*タブレット｜600~1024*/
  h1, #home h1 {
    margin-top: 26px;
  }
}
/*headerの設定*/
header {
  height: 40vh;
}
header p {
  font-size: 1.2rem;
  margin-bottom: 6.8rem;
}
@media screen and (min-width:600px) { /*タブレット｜600~1024*/
  header {
    height: auto;
  }
}
/*aboutの設定*/
#myphoto {
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}
#about  p,dl{
  margin: 1.5em 0;
  font-size: 1.2rem;
}
#about .info {
  display: grid;
  grid-template-columns: 5em 1fr; /*frという単位で赤いエラーになっています。*/
  margin-bottom: 3em;
}
#about .info dt {
  text-align: right;
}
.skill {
  font-size: 1.2rem;
}
.about_container{
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about_flex h2{
  text-align: center;
}

/* prf */
.me{
  height: auto;
  width: 30%;
  border-radius: 50%;
  display: block;
  text-align:center;
  margin: auto;
}

.box-003 {
  max-width: 600px;
  padding: 2em 1.5em;
  box-shadow: 0 4px 4px rgb(0 0 0 / 5%), 0 2px 3px -2px rgb(0 0 0 / 1%);
  background-image: linear-gradient(transparent calc(100% - 1px), #e6edf3 50%, #e6edf3), linear-gradient(90deg, transparent calc(100% - 1px), #e6edf3 50%, #e6edf3);
  background-size: 15px 15px;
  background-repeat: repeat;
  background-color: #ffffff;
  color: #333333;
}
.box-003 a{
display: inline;
font-size: 2rem;
padding-right: 1rem;
}
/* cube */
input{ /* input(ラジオボタン)は表示しません。表示しないのであって動作はしています */
  display: none;
 }
 #tab-box label{
   cursor: pointer;
 }
 #tab-box{
   max-width:600px;
   margin: 0px;
   font-size: 0; /* divについて余白を表示させないためにfont-size:0を設定するテクニックです */
   position: relative;
 }
 #tab-box .tab1,.tab2,.tab3{
   display: inline-block; /* inline-blockによって横並びになります */
   width: 30%;
   margin:0px;
   border-radius: 4px 4px 0px 0px;
   padding-top:3px;
   text-align: center;
   font-size: 16px;
   color: #ffffff;
 }
 #tab-box .tab1{
   margin-left:10px;
   background:rgba(50,147,224,0.3);
 }
 #tab-box .tab2{
  
  background:rgba(190,208,230,0.5);
 }
 #tab-box .tab3{
  background:rgba(219,217,145,0.4);
 }
 #tab-box .box1,.box2,.box3{
   border-radius:7px 7px 7px 7px;
   height:100%;
   padding:5px 40px 5px 40px;
   font-size: 16px;
 }
 #tab-box .box1{ /* 初期状態はbox1を表示します */
   color:#4d4a46;
   background:rgba(50,147,224,0.3);
   border-bottom:5px solid #1E3F6C;
 }
 #tab-box .box2{
   display: none;
   background:rgba(190,208,230,0.5);
   border-bottom:5px solid #dd5656;
 }
 #tab-box .box3{
   display: none;
   background:rgba(219,217,145,0.4);
   border-bottom:5px solid #e3d0c2;
 }
 .input1:checked ~ #tab-box .box1 { /* input1がチェックされた場合の処理 box1を表示します */
   display: block;
 }
 .input1:checked ~ #tab-box .box2, #tab-box .box3{/* input1がチェックされた場合の処理 box2とbox3を非表示 */
   display: none;
 }
 .input2:checked ~ #tab-box .box1 ,#tab-box .box3{/* input2がチェックされた場合の処理 box1とbox3を非表示 */
   display: none;
 }
 .input2:checked ~ #tab-box .box2 { /* input2がチェックされた場合の処理 box2を表示します */
   display: block;
 }
 .input3:checked ~ #tab-box .box1,#tab-box .box2 {/* input3がチェックされた場合の処理 box1とbox2を非表示 */
   display: none;
 }
 .input3:checked ~ #tab-box .box3 { /* input3がチェックされた場合の処理 box3を表示します */
   display: block;
 }
/* cube end */

@media screen and (min-width:600px) { /*タブレット｜600~1024*/
  .prf{
    width: 100%;
  }
  #tab-box{
    max-width:550px;
     width:600px;
    margin: 0px;
    font-size: 0; /* divについて余白を表示させないためにfont-size:0を設定するテクニックです */
    position: relative;
  }
}
/*worksの設定*/
#works {
  padding-bottom: 1.5em;
}
.works_list a, .btn a {
  width: 80%;
  margin: 20px auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.works_list {
  padding-bottom: 60px;
}
.works_list img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.btn a {
  max-width: 220px;
}
.works_list a:active, .works_list a:hover, .btn a:active, .btn a:hover {
  opacity: 0.7;
}
.btn {
  text-align: center;
}
#works .btn a, footer .btn a {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;/*大文字表示*/
  width: 50%;
  margin: 1.5em auto;
  padding: 10px;
  background: #fff;
}
@media screen and (min-width:600px) { /*タブレット｜600~1024*/
  #works h2 {
    text-align: center;
  }
  #tab {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  #tab li {
    flex-basis: 120px;
    margin: 0 5px
  }
  #tab li a {
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 0 #A3D2CA);
  }
  #tab li a:active, #tab li a:hover {
    transform: translateY(2px);
    filter: none;
    background: #A3D2CA;
  }
 
  .current {
    color: #374856;
  }
  .works_list {
    width: 100%;
    margin: 1.5em auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 200px 60px;
  }
  .works_list li {
    box-sizing: border-box;
  }
  .works_list a {
    width: 100%;
    height: 100%;
    max-height: 300px;
    margin: 0 auto;
  }
  .works_list dl{
    font-size: 1.1em;
  }
  .works_list dd{
    font-size: 0.5em;
  }
  #works .btn a, footer .btn a {
    width: 25%;
  }
}
/*worksの下層ページの設定*/
#works_web h2 + p {
  font-size: 1.2rem;
}
.description_box {
  padding-bottom: 1.5em;

}
.description_box.pc_screen img{
  width: 100%;
  max-width: 700px; /*今回は画像幅750pxが最大で書き出したので劣化を防ぐ*/
  height: auto;
}
.pc_image{
  padding-top: 3rem;
}
#pc_images_box{
  display: flex;
	flex-wrap: wrap;
	gap: 4px;
	padding: 2px;
}
#pc_images_box img{
  width: calc(33.3% - 4px);
  border: #212121 solid 1px;
  height: 100%;
}
.description {
  padding: 20px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-top: 1.5em;
  border-radius: 20px;
}
.description dl {
  margin: 5px 0 10px;
  padding-bottom: 1.5em;
}
.description dd {
  font-size: 1.4rem;
}
.link {
  padding: 1.5em 0;
  overflow: hidden;
}
.slider li {
  margin: 0 5px;
}
@media screen and (min-width:600px) { /*タブレット｜600~1024*/
  .works_box {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
  }
  .sp_box {
    margin: 10px 20px 10px 0;
    width: 375px;
    height: 667px;
    flex-shrink: 0;
    overflow: hidden;
    background: url("../images/drive-sp-.png")no-repeat;
    background-size: 375px auto;
    border: 5px solid #212121;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 0 #A3D2CA);
    animation: scroll 15s 2s ease-in-out infinite;
  }

  .description_box {
    margin: 3em 0;
    text-align: center;
  }
  .description dd {
   
    text-align: left;
  }
  .description dt{
   width: 40%;
   text-align: left;
  }
  #works_banner .description dl, #works_flier .description dl, #works_logo .description dl {
    display: flex;
  }
  
}
@keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -3594px;
  }
}
@media screen and (min-width:1024px) { /*pc｜1024~*/
  .description dl {
    display: flex;
    padding: 5px 10px;
    border-top: 1px dashed #A3D2CA;
  }
  .description dl:first-child {
    border-top: none;
  }
  .description dt {
    width: 10em;
    margin-right: 1em;
    flex-shrink: 0;
  }
  .description a:hover, .link a:hover {
    filter: grayscale();
  }
  .link {
    width: 80%;
    margin: 0 auto;
  }
}
/*contactの設定*/
#contact {
  padding: 3em 20px;
  background: #A3D2CA;
  text-align: center;
  font-size: 1.2rem;
}
.sns {
  display: flex;
  justify-content: center;
  margin: 1.5em 0;
  text-align: center;
}
.sns a {
  font-size: 1.8rem;
  padding: 15px;
  margin: 0 5px;
}

.address ul {
  text-align: left;
}
.address {
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}
@media screen and (min-width:600px) { /*タブレット｜600~1024*/
  .address {
    margin: 0 auto;
    display: inline-block;
    text-align: left;
  }
  
}
/*footerの設定*/
footer {
  background: #fffafa;
  text-align: center;
  padding: 1.5em 20px 0;
}
footer .copyright {
  margin-top: 3em;
  padding: 10px;
  background: #1E3F6C;
  width: calc(100% + 40px);
  transform: translateX(-20px);
}
footer .copyright small {
  color: rgba(255, 255, 255, .9);
}
@media screen and (min-width:600px) { /*タブレット｜600~1024*/
}
/*navの設定*/
nav a {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  padding: 15px;
}
footer nav a {
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}
footer nav li:last-child a {
  border-bottom: none;
}
@media screen and (min-width:600px) { /*タブレット｜600~1024*/
  footer nav ul {
    display: flex;
    justify-content: center;
  }
  footer nav a {
    width: 100%;
    margin: 0 auto;
    border-bottom: none;
  }
}
/*ハンバーガーメニューボタン*/
.openbtn {
  position: fixed;
  right: 20px;
  top: 10px;
  z-index: 999;
  cursor: pointer;
  width: 42px;
  height: 42px;
}
/*ボタン内側*/
.openbtn span {
  position: absolute;
  display: inline-block;
  transition: all .5s; /*アニメーションの設定*/
}
.openbtn span:nth-of-type(2), .openbtn span:nth-of-type(3) {
  height: 1px;
  background: #F1E3F6C;
  width: 42px;
}
.openbtn span:nth-of-type(2) {
  bottom: 10px;
}
.openbtn span:nth-of-type(1) {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #1E3F6C;
}
.openbtn span:nth-of-type(3) {
  bottom: 5px;
}
/*batsuクラスが付与される×になる、Menuは透過して消す*/
.openbtn.batsu span:nth-of-type(1) { /*MENU*/
  opacity: 0;
}
.openbtn.batsu span:nth-of-type(2) {
  transform: translate(0, 2px) rotate(30deg);
}
.openbtn.batsu span:nth-of-type(3) {
  transform: translate(0, -2px) rotate(-30deg);
}
/*パネルエリア*/
#HBG_nav.panelactive {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  margin-left: 10px;
  height: auto;
  background: #66c3b3;
  transition: all .5s; /*3秒かけてアニメーション*/
}
@media screen and (min-width:600px) { /*タブレット｜600~1024*/
  #HBG_nav.panelactive {
    top: 0;
    right: 0;
    width: 50%;
  }
}
/*ナビゲーション
=============*/
#HBG_nav ul {
  display: none; /*はじめ消す*/
}
/*背景が出現後にナビゲーションを表示*/
#HBG_nav.panelactive ul {
  display: block;
  color: #212121;
  padding: 4em 20px 2.4rem;
}
#HBG_nav li {
  width: 90%;
}
#HBG_nav li a {
  display: block;
  padding-bottom: 1.5em;
}
#HBG_nav li a:active, #HBG_nav li a:hover {
  color: #fff;
}
@media screen and (min-width:600px) { /*タブレット｜600~1024*/
  #G_nav {
    display: none;
  }
}
@media screen and (min-width:1025px) { /*PC：1,025px~*/
  .openbtn {
    display: none;
  }
  #G_nav {
    display: block;
    position: absolute;
    top: 26px;
    right: 20%;
  }
  #G_nav ul {
    display: flex;
    justify-content: space-between;
  }
  #G_nav a:hover {
    color: #66c3b3;
  }
}
/*iconフォント*/
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?vmrjeg');
  src: url('fonts/icomoon.eot?vmrjeg#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?vmrjeg') format('truetype'), url('fonts/icomoon.woff?vmrjeg') format('woff'), url('fonts/icomoon.svg?vmrjeg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-phone:before {
  content: "\e942";
  margin-right: 5px;
  vertical-align: baseline;
}
.icon-envelop:before {
  content: "\e945";
  margin-right: 5px;
  vertical-align: baseline;
}
.icon-github11:before {
  content: "\eab0";
  margin-right: 5px;
  vertical-align: baseline;
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
/* wellcomeアニメーション */
.anime {
  padding-top: 10em;
  width: 100%;
  max-width: 1000px; /*今回は画像幅750pxが最大で書き出したので劣化を防ぐ*/
  height: auto;
  padding-bottom: 10rem;
  margin: auto;
  display: block;
}

.ripples div {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: solid 1px #B1D3EC;
  border-radius: 50%;
  opacity: 0;
  animation: ripples_anim 5s linear infinite;
}
.contact_icon{
  display: flex;
  float: right;
}
.contact_icon span{
padding-right: 2rem;
}

@keyframes ripples_anim {
    0% {
    opacity: 1;
  }
  
  50% {   
    transform: translate(-100px,-100px);
    width: 200px;
    height: 200px;
    opacity: 0;
  }

}


.ripples div:nth-of-type(1) {
  left: 0;
  top: 0;
  animation-delay: 0s;
}

.ripples div:nth-of-type(2) {
  left: 10%;
  top: 50%;
  animation-delay: 3.5s;
}

.ripples div:nth-of-type(3) {
  left: 30%;
  top: 10%;
  animation-delay: 2.5s;
}

.ripples div:nth-of-type(4) {
  left: 40%;
  top: 20%;
  animation-delay: 0.5s;
}

.ripples div:nth-of-type(5) {
  left: 50%;
  top: 30%;
  animation-delay: 2.1s;
}

.ripples div:nth-of-type(6) {
  left: 60%;
  top: 40%;
  animation-delay: 3.2s;
}

.ripples div:nth-of-type(7) {
  left: 70%;
  top: 80%;
  animation-delay: 4.1s;
}

.ripples div:nth-of-type(8) {
  left: 80%;
  top: 70%;
  animation-delay: 1.2s;
}

.ripples div:nth-of-type(9) {
  left: 90%;
  top: 50%;
  animation-delay: 1.7s;
}

.ripples div:nth-of-type(10) {
  left: 100%;
  top: 20%;
  animation-delay: 4.5s;
}
@media screen and (max-width:767px) { /*sp｜600~*/
  #wrap h1,p{
    margin: 1em 0;
  }
  .anime {
    padding-top: 1em;
    width: 100%;
    max-width: 1000px; /*今回は画像幅750pxが最大で書き出したので劣化を防ぐ*/
    height: auto;
    padding-bottom: 10rem;
    margin: auto;
    display: block;
  }
  @keyframes ripples_anim {
    0% {
    opacity: 1;
  }
  
  50% {   
    transform: translate(-100px,-100px);
    width: 100px;
    height: 100px;
    opacity: 0;
  }

  .ripples div:nth-of-type(1) {
    left: 0;
    top: 0;
    animation-delay: 0s;
  }
  
  .ripples div:nth-of-type(2) {
    left: 10%;
    top: 50%;
    animation-delay: 3.5s;
  }
  
  .ripples div:nth-of-type(3) {
    left: 30%;
    top: 10%;
    animation-delay: 2.5s;
  }
  
  .ripples div:nth-of-type(4) {
    left: 40%;
    top: 20%;
    animation-delay: 0.5s;
  }
  
  .ripples div:nth-of-type(5) {
    left: 50%;
    top: 30%;
    animation-delay: 2.1s;
  }
  
  .ripples div:nth-of-type(6) {
    left: 55%;
    top: 40%;
    animation-delay: 3.2s;
  }
  
  .ripples div:nth-of-type(7) {
    left: 60%;
    top: 80%;
    animation-delay: 4.1s;
  }
  
  .ripples div:nth-of-type(8) {
    left: 20%;
    top: 70%;
    animation-delay: 1.2s;
  }
  
  .ripples div:nth-of-type(9) {
    left: 30%;
    top: 50%;
    animation-delay: 1.7s;
  }
  
  .ripples div:nth-of-type(10) {
    left: 30%;
    top: 20%;
    animation-delay: 4.5s;
  }
}
}

/* ゆらゆら */
